@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    @keyframes cardAnimacao {
        from {
            opacity: 0;
            transform: translateY(-100%);
        } to {
            opacity: 1;
            transform: translateY(0%);
            
           
        }
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900px;
}

body {
    width: 99vw;
    height: 95vh;
    background-color: #F4EFEB;
    background-image: url('../assets/imagens/Group\ 4.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 90%;
}

#voltar {
    text-decoration: none;
    padding: 1%;
}

#div_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#voltar {

    padding-top: 0.5%;
    width: 12%;

    background: none;
    border: none;

    color: #A60000;
    font-weight: bolder;
    font-size: 33pt;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;

}

#main {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
}

#card-main {
    border: 3px solid #A60000;
    margin: 40px 0 40px 0;
    background-color: #E9E5E2;
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-name: cardAnimacao;
    animation-duration: 1.5s;
}

#card {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#titulos h1 {
    color: #A60000;
    font-size: 55px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

#titulos h2 {
    font-size: 25px;
    color: black;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

#inputsCadastro {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 250px;
}

#colunaInputs1 {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#colunaInputs2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inputPadronizado {
    font-size: 20px;
    width: 95%;
    height: 100%;
    border: none;
    padding-left: 3%;
}

.inputPadronizado {
    font-size: 20px;
    width: 95%;
    height: 100%;
    border: none;
    padding-left: 3%;
}

#geral {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

#div_perguntaFilial {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#div_perguntaFilial label {
    width: 100%;

}

#div_inputCheckFilial {
    width: 25%;
    height: 100%;
}


#div_inputCheckFilial input[type="checkbox"] {

    transform: scale(1.5);
    width: 100%;
    height: 75%;
}

.inputLinha {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    background-color: #F2F2F2;
    border: 1px solid black;
    box-shadow: 4px 8px 15px rgb(86, 86, 86);
}

.inputLinha3 {
    width: 45.5%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    background-color: #F2F2F2;
    border: 1px solid black;
    box-shadow: 4px 8px 15px rgb(86, 86, 86);
}

.inputLinha:hover {
    border: 2px solid rgb(219, 10, 10);
}

input {
    width: 90%;
    height: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 1.95px solid #06121C;
    margin-top: 5%;
}

input:valid {
    color: rgb(0, 0, 0);
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.05rem;
}

label {
    font-size: 0.9em;
    margin-left: 20px;
    color: black;
    font-weight: 500;
}

.validacaoSenha {
    padding-left: 20px;
    padding-top: 12px;
    font-size: medium;
}


#botaoCriar {
    margin-top: 10px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#main button {
    background-color: #880000;
    color: white;
    width: 35%;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    transition: 1s;
}

#main button:hover {
    width: 50%;
    background-color: #9c0000;
}


#main button:focus {
    background-color: #9c0000;
    outline: 1px solid white;
}

#textoFazerLogin {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}

#textoFazerLogin span {
    
    color: black;
}

#textoFazerLogin a {
    font-style: none;

    color: #b90101;   
    text-decoration: none;

    position: relative;
}

#textoFazerLogin a::after {
    content: " ";

    width: 5%;
    height: 100%;

    border-bottom: 2px solid transparent;

    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.5s ease-in-out;
}

#textoFazerLogin a:hover::after {

    width: 100%;
    
    border-bottom: 2px solid #b90101;
}