@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

    background-image: url("../imagens/Group2422.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 80%;
    background-color: #EDE3DA;
    
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

}

/* MENU DO LADO */

#menuLateral {

    width: 16.5%;
    height: 100%;

    background-color: #F4EFEB;
    border-right: solid 3px #880000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

#menuLateral h1 {

    font-size: 40pt;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;

}

#sensor {

    color: #A40101;
    font-weight: 600;

}

#menuLateral h2 {

    font-family: "Roboto", sans-serif;
    font-size: 20pt;
    font-weight: bold;

    margin: 10%;
    
}

#containerBotoes {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #EDE9E6;
    
    border: solid 3px black;
    border-radius: 20px;

    height: 30%;
    width: 75%;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

#botaoInicial {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    background-color: #E1E1E1;

    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13pt;
    text-decoration: none;

    border: solid 2px black;
    border-radius: 5px;

    width: 65%;
    height: 17%;

    cursor: pointer;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

.botao {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    background-color: #FFFFFF;

    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13pt;
    text-decoration: none;

    border: solid 2px black;
    border-radius: 5px;

    width: 52%;
    height: 17%;

    cursor: pointer;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

#botaoSair {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    background-color: #880000;

    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13pt;
    text-decoration: none;

    border: solid 2px black;
    border-radius: 8px;

    width: 40%;
    height: 12%;

    cursor: pointer;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

/* TITULO */

.titulo {

    color: #A60000;
    font-size: 50pt;
    font-family: "Lexend", sans-serif;
    font-weight: bold;

    text-align: center;

    margin: 0;

    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

.containerTitulo {

    background-color: #F4EFEB;
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid 3px #880000;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);

}

/* Conteúdo ------------------------------------- */

#containerTudo {

    width: 85%;
    display: flex;
    flex-direction: column;
    


}


.titu {
    color: #A60000;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}


#main {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    padding-top: 7%;
    gap: 100px;
    margin-bottom: 1000px;
    


    
}

#alinharFechar {

    width: 100%;
    height: 8%;

    display: flex;
    justify-content: right;

    

}

#botaoFechar {
    width: 10%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    border: none;

    color: #880000;
    font-size: 40pt;
    font-weight: bold;

    text-decoration: none;

}

#alinharFechar a:hover {
    transition: .5s;
   
    background-color: rgb(180, 33, 33);
    color: white;
    border-radius: 17px;
    width: 10%;
}

#card-main {
    height: 105%;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
    border: solid 2px #880000;
    border-radius: 20px;
    width: 560px;
   
    height: 100%;
    padding-bottom: 5%;
    background-color: #E1E1E1;

}

.botaoCriar {


    background-color: #880000;
   
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13pt;
    outline: none;
   
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 8%;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);
}


.inputPadronizado {
    width: 100%;
    height: 50%;
    font-size: 20px;
   
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

#inputsCadastro {
    color: black;
    height: 80%;
    width: 100%;
    display: flex;
   
    flex-direction: column;
    justify-content: flex-start;
   
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 250px;
}

.inputLinha {
    width: 455px;
    height: 50px;
    display: flex;
    justify-content: center;
   
    background-color: #F2F2F2;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);
}

#colunaInputs1 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    
}

.selectType {
    margin-bottom: 2%;
}

input:valid {
    color: rgb(0, 0, 0);
    outline: none;
   
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.05rem;
}

input {
    width: 90%;
    height: 70%;
    
    background-color: transparent;
    border: none;
    border-bottom: 1.95px solid #000;
    margin-top: 1.5%;
}


.selectTipo {
    height: 30px;
    width: 190px;
    border-radius: 20px;
}

label {
    font-weight: bold;
}









