@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #F4EFEB;
}

/* Configurações padrões dos botões - Mudar a largura (se necessário) ou qualquer outra configuração por ID!!!!!! */

.botao {
    background-color: #880000;

        height: 50px;
    /* width: 100%; */
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    cursor: pointer;

    border-radius: 5px;
    border: none;

}

.titulos {

    color: #A60000;
    font-size: 40pt;
    font-family: "Lexend", sans-serif;
    font-weight: bold;

    text-align: center;

    margin-top: 20px;
    margin-bottom: 0;

}

.texto {

    font-family: "Roboto Mono", monospace;
    color: #050505;
    font-size: 20pt;

    font-weight: 600;

}


/* ------------------- MENU ------------------- */

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    
    background-color: #E9E5E2;
}
.headerContainerDireita{
    width: 50%;
    
    display: flex;
    justify-content: flex-end;
    padding-left:290px ;
}
.logoHeader {

    height: 40px;
    width: 90px;

}

.header li{
    list-style: none;
    cursor: pointer;
}
.header_nav{
    display: flex;
    gap: 70px;
    color: #050505;
    font-weight: 600;
    width: 50%;
}
#botaoHeader {
    cursor: pointer;
    width: 135px;
    height: 40px;
}
ul{
    display: flex;
    gap: 40px;
}

/* ------------------- PRIMEIRA PARTE ------------------- */

.primeiraParteIndex {

    background-image: url(../imagens/fundo.png);
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.primeiraParteIndex h1 {

    color: #FAFAFA;

    font-size: 43pt;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    width: 90%;
    
}

.primeiraParteIndex p {

    color: #FAFAFA;

    font-size: 20pt;
    font-family: "Roboto mono", sans-serif;

    width: 90%;

    text-align: left;

}

.alinharTexto {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.primeiraParteIndex #alinharBotao {

    width: 90%;

    display: flex;
    justify-content: left;

}

#botaoSimulador {

    width: 290px;

}


/* ------------------- SEGUNDA PARTE - DIAGRAMA ------------------- */


.diagrama {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.diagrama img {

    width: 80%;

}

#botaoDiagrama {

    position: absolute;

    top: 279%;
    left: 43.5vw;

    width: 200px;
    height: 45px;

}


/* ------------------- TERCEIRA PARTE - SOBRE A CODESENSOR ------------------- */

.sobreCodeSensor {

    background-color: #E7E5E4;
    background-image: url(../imagens/work.png);
    background-repeat: no-repeat;
    background-position: 80% 50%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    margin: 0;
}

#tituloSobreCodeSensor {

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #DFDFDF;

    height: 25vh;

    background-image: url(../imagens/CodeSensorTransparentePreto.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

#containerMissao {

    display: flex;
    align-items: center;
    justify-content: center;

} 

#missao {

    width: 70%;
    text-align: center;

}

#containerVisao {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 10%;

    width: 30%;
}



#h1Valores {

    background-color: #DFDFDF;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloValor {

    color: #A60000;
    font-size: 25pt;

}

#valores {

    display: flex;
    justify-content: space-around;

}

.textoValores {

    width: 20%;
    /* background-color:#880000; */

}

/* -------------------- */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }