@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;

}

.header {
    background-color: #161A1D;
}

.titulo {
    color: #32b9cd;
    font-weight: 500;
}

.navbar {
    width: 500px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.container button {
    background-color: #880000;
    width: 30%;
    height: 30%;
    align-items: center;
    border-radius: 5%;
    border: none;
    color: #FFFFFF;
}

.botaoHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.botaoHeader button {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.header .container {
    justify-content: space-between;
}